<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore'
const addressBookStore = useAddressBookStore()
</script>

<template>
  <div>
    <div>
      <button @click="addressBookStore.isAddNew = !addressBookStore.isAddNew">Add</button>
      <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Tel</th>
        </tr>
        <tr v-for="ad of addressBookStore.addressList" :key="ad.id">
          <td>{{ ad.id }}</td>
          <td>{{ ad.name }}</td>
          <td>{{ ad.gender }}</td>
          <td>{{ ad.tel }}</td>
          <td>
            <button @click="addressBookStore.edit(ad.id)">Edit</button><button @click="addressBookStore.remove(ad.id)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<style scoped>
input,
select,
label,
button {
  font-family: 'Kanit';
  font-size: 20pt;
  margin: 5px;
}
</style>