<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore'
const addressBookStore = useAddressBookStore()
</script>

<template>
  <div v-if="addressBookStore.isAddNew">
    <div>
      <label for="name">Name: </label>
      <input id="name" type="text" v-model="addressBookStore.address.name" />
    </div>
    <div>
      <label for="gender">Gender: </label>
      <select id="gender" v-model="addressBookStore.address.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div>
      <label for="tel">Tel: </label>
      <input id="tel" type="text" v-model="addressBookStore.address.tel" />
    </div>
    <button @click="addressBookStore.clear">Clear</button>
    <button @click="addressBookStore.save">Save</button>

    <div>
      <pre>{{ addressBookStore.address }}</pre>
    </div>
  </div>
</template>

<style scoped>
input,
select,
label,
button {
  font-family: 'Kanit';
  font-size: 20pt;
  margin: 5px;
}
</style>
