<script setup lang="ts">
import MessageBox from '@/components/MessageBox.vue';
import MessageList from '@/components/MessageList.vue';
import { nextTick, ref } from 'vue';

const messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['Wah', 'Ina Koko', 'Ina Doko', 'Koko Dayo']
const send = (message: string) => {
  messages.value.push(message)
  answerWithComputer()
  messageList.value?.updateUI()
}

function answerWithComputer() {
  const answer = answers[Math.floor(Math.random() * 10000) % answers.length]
  nextTick(() => {
    messages.value.push(answer)
  })
}
</script>

<template>
  <div>
    <MessageList ref="messageList" :messages="messages"></MessageList>
    <MessageBox @send="send"></MessageBox>
  </div>
  
</template>
