<script setup lang="ts">
import DummyComponent from '@/components/DummyComponent.vue';

import { provide, ref } from 'vue';
const num1 = ref(0)
provide('num1', num1)
const num1Click = () => {
  num1.value++
}
provide('num1Click', num1Click)
</script>

<template>
  <div style="text-align: center;">
    <img style="width: 300px;border-radius: 50%;" src="../assets/Ina Smile.png" alt="">
    <h3>Wah</h3>
    {{ num1 }}
    <DummyComponent/>
  </div>
</template>
