<script setup lang="ts">
import { ref } from 'vue';

const prop = defineProps<{
    messages: string[]
}>()
const msgList = ref<HTMLElement | null>(null)
function updateUI() {
    console.log('Update Ui')
    msgList.value!.scrollTop = msgList.value!.scrollHeight
}
defineExpose({updateUI})
</script>

<template>
    <div ref="msgList" style="height: 500px; overflow-y: auto;">
        <div v-for="(msg, index) of messages" :key="index"> {{ msg }}</div>
    </div>
</template>